@using Aminimanesh.Core.DTOs.OwnerDTOs
@model CommonInfoDTO
<section class="mini-info sidebar-section">
    <!-- country -->
    <div>
        <p>کشور:</p>
        <span>@Model.Country</span>
    </div>
    <!-- City -->
    <div>
        <p>شهر:</p>
        <span>@Model.City</span>
    </div>
    <!-- Age -->
    <div>
        <p>سن:</p>
        <span>@Model.Age</span>
    </div>
</section>