<footer class="main-footer">
    <span>تمام حقوق مادی و معنوی این سایت مطلعق به <a asp-action="Index" asp-controller="Home" title="محمد امین امینی منش">محمد امین امینی منش</a> می‌باشد.</span>
    <span dir="ltr">© <span id="copyright"></span> All Rights Reserved.</span>
</footer>