<header class="main-menu">
    <a id="open-menu" class="menu-open" title="باز کردن منو">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </a>
    <nav id="navigation">
        <ul>
            <li><a class="secondary-link active" href="/#main-section">صفحه اصلی</a></li>
            <li><a class="secondary-link" href="/#portfolio" title="نمونه کار">نمونه کارها</a></li>
            <li><a class="secondary-link" href="/#timelines" title="سابقه">سابقه</a></li>
            <li><a class="secondary-link" href="/#contact" title="تماس با من">تماس با من</a></li>
        </ul>
    </nav>
    <span class="page-title">صفحه اصلی</span>
</header>