@using Aminimanesh.DataLayer.Entities.Owner
@model Social
@{
    ViewData["Title"] = "Add Social";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>
<p class="mb-4">
    Add an social to your resume.
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-info">
        <h6 class="m-0 font-weight-bold text-white">Social Information</h6>
    </div>
    <div class="card-body">
        <form class="user" asp-area="Admin" asp-controller="Social" asp-action="CreateSocial" method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" data-bs-theme="dark" asp-validation-summary="All"></div>
            }

            <div class="form-group row">
                <div class="col-sm-3 mb-2">
                    <input type="text" class="form-control" asp-for="@Model.Title"
                           placeholder="Social Title">
                </div>
                <div class="col-sm-3 mb-2">
                    <input type="text" class="form-control" asp-for="@Model.LinkAddress"
                           placeholder="Social Link Address">
                </div>
                <div class="col-sm-3 mb-2">
                    <input type="text" class="form-control" asp-for="@Model.Icon"
                           placeholder="Social Icon">
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-user btn-block">
                Add Social
            </button>
        </form>
    </div>
</div>

